@churchtools:registry=https://gitlab.ct-srv.de/api/v4/projects/167/packages/npm/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=068D6F93-C7C9-42A5-8964-A2855A5AC29C